source C:\nuget\
source "C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\"
source https://api.nuget.org/v3/index.json

nuget Expecto 9.0.0
nuget Fake.Core.Environment 5.20.3
nuget Fake.Core.Process 5.20.3
nuget FSharp.Core 4.7.2
nuget Microsoft.Data.SqlClient 3.0.1
nuget Ply 0.3.1
nuget Spectre.Console 0.38.0
nuget ThrowawayDb 1.1.0